<%@bills.each.with_index do |bill, index|%>
<%= "<div class='row' >" if index % 2 == 0 %>
  <div class="col-lg-6">

    <div class="bill-card shadow">
      <h2 class="bill-title"><a href="/bills/senate/<%=bill.slug_from("bill_identifier")%>"><%=bill.title%></a></h2>
      <p><a href="<%=bill.link%>" target="_">--View Source--</a></p>
      <%if bill.has_summary?%>
        <h4>Summary</h4>
        <p class="summary"><%= bill.available_summary%></p>
      <%end%>
      <p><span class="label">Subject: </span><%= bill.subject ? bill.subject.length > 0 ? bill.subject : "Not Listed" : "Not Listed"%></p>
      <p><span class="label">Introduced: </span><%= parse_date(bill.introduced)%></p>
      <p><span class="label">Sponsor: </span><%=bill.sponsor_name%></p>
      <p><span class="label"><%= bill.active? ? "Active" : "Not Active"%></span></p>
      <p><%= "Enacted: #{parse_date(bill.enacted)}" if bill.enacted?%></p>
      <%if bill.has_actions?%>
        <div class="recent-action">
          <p><span class="action-label">Most Recent Action</label></p>
          <%action = bill.actions.first%>
          <p>--<%=action.category%>--</p>
          <p><%=action.description%></p>
        </div>

      <%end%>
      <%if bill.has_votes_no_load?%>
        <div class="card-votes">
          <h5 class="votes-label">Votes</h5>
          <p><span class="votes-label">For: </span><%=bill.votes.first.ayes%></p>
          <p><span class="votes-label">Against: </span><%=bill.votes.first.nays%></p>
          <p><span class="votes-label">Abstains: </span><%=bill.votes.first.abstains%></p>
        </div>
      <%end%>
      <div class="actions">
          <%if bill_followed?(id: bill.bill_identifier)%>
            <form action="/bills/senate/<%=bill.slug_from("bill_identifier")%>/unfollow" method="post">
              <input type="submit" id="unfollow" value="Unfollow" class="chosen custom-button">
            </form>
          <%else%>
          <form action="/bills/senate/<%=bill.slug_from("bill_identifier")%>/follow" method="post">
            <input type="submit" id="follow" value="Follow" class="custom-button">
          </form>
          <%end%>
          <%if reaction = reaction_to_bill(id: bill.bill_identifier)%>
            <%case reaction
               when "dislike" %>
                <form action="/bills/senate/<%=bill.bill_identifier%>/react" method="post">
                  <input type="submit" name="like" id="like" value="Like" class="custom-button">
                  <input type="submit" name="dislike" id="dislike" value="Dislike" class="chosen custom-button">
                </form>
              <%when "like" %>
                <form action="/bills/senate/<%=bill.bill_identifier%>/react" method="post">
                  <input type="submit" name="like" id="like" value="Like" class="chosen custom-button">
                  <input type="submit" name="dislike" id="dislike" value="Dislike" class="custom-button">
                </form>
            <%end%>
        <%else%>
          <form action="/bills/senate/<%=bill.bill_identifier%>/react" method="post">
              <input type="submit" name="like" id="like" value="Like" class="custom-button">
              <input type="submit" name="dislike" id="dislike" value="Dislike" class="custom-button">
          </form>
        <%end%>
        <div class="reaction-stats">
          <%likes = num_likes(bill.reactions)%>
          <p><span class="label">Likes: </span><%=likes%></p>
          <p><span class="label">Dislikes: </span><%= bill.reactions.length - likes%></p>
          <p><span class="label">Followers: </span><%= bill.following_users.length%></p>
        </div>
      </div>
    </div>
  </div>
<%= "</div>" if index % 2 == 1 %>
<%end%>
