<h1 id="bill-number"><%=@bill.bill_number%></h1>
<section id="traits">
    <h2 id="title"><%=@bill.title%></h2>
    <div class="actions">
      <%if bill_followed?(id: @bill.bill_identifier)%>
        <form action="/bills/senate/<%=@bill.slug_from("bill_identifier")%>/unfollow" method="post">
          <input type="submit" id="unfollow" value="Unfollow" class="chosen">
        </form>
      <%else%>
      <form action="/bills/senate/<%=@bill.slug_from("bill_identifier")%>/follow" method="post">
        <input type="submit" id="follow" value="Follow">
      </form>
      <%end%>
      <%if reaction = reaction_to_bill(id: @bill.bill_identifier)%>
        <%case reaction
           when "dislike" %>
            <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
              <input type="submit" name="like" id="like" value="Like">
              <input type="submit" name="dislike" id="dislike" value="Dislike" class="chosen">
            </form>
          <%when "like" %>
            <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
              <input type="submit" name="like" id="like" value="Like" class="chosen">
              <input type="submit" name="dislike" id="dislike" value="Dislike">
            </form>

        <%end%>
    <%else%>
      <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
          <input type="submit" name="like" id="like" value="Like">
          <input type="submit" name="dislike" id="dislike" value="Dislike">
      </form>
    <%end%>
  </div>
  <div class="reaction-stats">
    <%likes = num_likes(@bill.reactions)%>
    <p>Likes: <%=likes%></p>
    <p>Dislikes: <%= @bill.reactions.length - likes%></p>
    <p>Following: <%= @bill.following_users.length%></p>
  </div>
    <p><a href="<%=@bill.link%>" target="_">View Source</a></p>
  <%if @bill.has_summary?%>
  <h4>Summary</h4>
    <p class="summary"><%= @bill.available_summary%></p>
  <%end%>
  <p>Subject: <%= @bill.subject%></p>
  <p>Introduced: <%= parse_date(@bill.introduced)%></p>
  <p>Sponsor: <%=@bill.sponsor_name%></p>
  <p>Cosponsors: <%=@bill.republican_cosponsors_number%> (R), <%=@bill.democrat_cosponsors_number%> (D)</p>
  <p>Committee: <%= @bill.committee%></p>
  </section>
  <section id="current-events">
  <p>Active: <%= @bill.active?%></p>
  <p><%= "Enacted: #{@bill.enacted}" if @bill.enacted?%></p>
  <p>Last Vote: <%=@bill.last_vote%></p>
  <p>Latest action: <%=@bill.latest_action%></p>
  <%if @bill.has_actions?%>
    <details>
      <summary>Actions</summary>
    <%@bill.actions.each do |action|%>
        <p>Action:</p>
        <p>Type: <%=action.category%></p>
        <p><%=action.description%></p>
    <%end%>
  </details>
  <%end%>
  <%if @bill.has_votes_no_load?%>
    <h4>Votes</h4>
    <div class="votes-summary">
      <p>For: <%=@bill.votes.first.ayes%></p>
      <p>Against: <%=@bill.votes.first.nays%></p>
      <p>Abstains: <%=@bill.votes.first.abstains%></p>
      <p>Democrats: For: <%=@bill.votes.first.democrat["yes"]%> / Against: <%=@bill.votes.first.democrat["no"]%> / Not voting: <%=@bill.votes.first.democrat["not_voting"]%></p>
      <p>Republians: For: <%=@bill.votes.first.republican["yes"]%> /  Against: <%=@bill.votes.first.republican["no"]%> / Not Voting: <%=@bill.votes.first.democrat["not_voting"]%></p>
    </div>
</div>
</section>
<section id="votes-breakdown">
  <div class="ayes">
    <h5>Ayes</h5>
    <%@bill.votes.first.yes_votes.each do |vote_data|%>
      <div class="yes-vote">
        <p>Senator <%=vote_data["name"]%> (<%=vote_data["party"]%>), of <%=vote_data["state"]%></p>
      </div>
    <%end%>
  </div>
  <div class="nays">
    <h5>Nays</h5>
    <%@bill.votes.first.no_votes.each do |vote_data|%>
      <div class="no-vote">
        <p>Senator <%=vote_data["name"]%> (<%=vote_data["party"]%>), of <%=vote_data["state"]%></p>
      </div>
    <%end%>
  </div>
</section>
<%else%>
</div>
  <h4>No Vote Data</h4>
</section>
<section class="posts">
  <%=yield%>
</section>
<%end%>
