<div class="row">
  <div class="col-sm-12 bkg-pri offwhite">
    <h1 id="bill-number"><%=@bill.bill_number%></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 id="title"><%=@bill.title%></h2>
  </div>
</div>


<div class="actions">
  <div class="row">
    <div class="col-sm-12">
      <%if bill_followed?(id: @bill.bill_identifier)%>
        <form action="/bills/senate/<%=@bill.slug_from("bill_identifier")%>/unfollow" method="post">
          <input type="submit" id="unfollow" value="Unfollow" class="chosen custom-button">
        </form>
      <%else%>
      <form action="/bills/senate/<%=@bill.slug_from("bill_identifier")%>/follow" method="post">
        <input type="submit" id="follow" value="Follow" class="custom-button">
      </form>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%if reaction = reaction_to_bill(id: @bill.bill_identifier)%>
        <%case reaction
           when "dislike" %>
            <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
              <input type="submit" name="like" id="like" value="Like" class="custom-button">
              <input type="submit" name="dislike" id="dislike" value="Dislike" class="chosen custom-button">
            </form>
          <%when "like" %>
            <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
              <input type="submit" name="like" id="like" value="Like" class="chosen custom-button">
              <input type="submit" name="dislike" id="dislike" value="Dislike" class="custom-button">
            </form>

        <%end%>
    <%else%>
      <form action="/bills/senate/<%=@bill.bill_identifier%>/react" method="post">
          <input type="submit" name="like" id="like" value="Like" class="custom-button">
          <input type="submit" name="dislike" id="dislike" value="Dislike" class="custom-button">
      </form>
    <%end%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="reaction-stats">
      <%likes = num_likes(@bill.reactions)%>
      <p><span>Likes: </span><%=likes%></p>
      <p><span>Dislikes: </span><%= @bill.reactions.length - likes%></p>
      <p><span>Following: </span><%= @bill.following_users.length%></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p><a href="<%=@bill.link%>" target="_">--View Source--</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%if @bill.has_summary?%>
    <h4>Summary</h4>
      <p class="summary"><%= @bill.available_summary%></p>
    <%end%>
  </div>
</div>


<%if @bill.subject && @bill.subject.length > 0%><p><span>Subject: </span><%= @bill.subject%></p><%end%>

<div class="row">
  <div class="col-sm-12">
    <table>
      <tr>
        <th>Introduced</th>
        <th>Sponsor</th>
        <th>Co-Sponsors</th>
        <th>Committee</th>
      </tr>
      <tbody>
        <tr>
          <td><%= parse_date(@bill.introduced)%></td>
          <td><%=@bill.sponsor_name%></td>
          <td><%=@bill.republican_cosponsors_number && @bill.republican_cosponsors_number > 0 ? @bill.republican_cosponsors_number : "0"%> (R), <%=@bill.democrat_cosponsors_number && @bill.democrat_cosponsors_number > 0 ? @bill.democrat_cosponsors_number : "0"%> (D)</td>
          <td><%= @bill.committee%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <table>
      <tr>
        <th colspan="2">Current Sttatus</th>
      </tr>
      <tr>
        <th>Active Status</th>
        <td class="<%= @bill.active? ? "active" : "inactive"%>"><%=@bill.active? ? "Active" : "Not Active"%></td>
      </tr>
      <tr>
        <th>Enacted</th>
        <td><%= @bill.enacted? ? "#{@bill.enacted}" : "Not Enacted"%></td>
      </tr>
      <tr>
        <th>Last Vote</th>
        <td><%=@bill.last_vote ? @bill.last_vote : "Not Voted"%></td>
      </tr>
      <tr>
        <th>Last Action:</th>
        <td><%=@bill.latest_action ? @bill.latest_action : "No Actions"%></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <%if @bill.has_actions?%>
      <details>
        <summary class="bkg-dark offwhite">View All Actions</summary>
      <%@bill.actions.each do |action|%>
        <table>
          <tr>
            <th colspan="2">Action on <%=action.time%></th>
          </tr>
          <tr>
            <th>Type</th>
            <td><%=action.category%></td>
          </tr>
          <tr>
            <td colspan="2"><%=action.description%></td>
          </tr>
        </table>

      <%end%>
    </details>
    <%end%>
  </div>
</div>


<%if @bill.has_votes_no_load?%>

  <div class="row">
    <div class="col-sm-12">
      <table class="votes">
        <tr>
          <th colspan="6">Votes</th>
        </tr>
        <tr>
          <th colspan="2">For</th>
          <th colspan="2">Against</th>
          <th colspan="2">Abstain</th>
        </tr>
        <tr>
          <th>Democrats</th>
          <td><%=@bill.votes.first.democrat["yes"]%></td>
          <th>Democrats</th>
          <td><%=@bill.votes.first.democrat["no"]%></td>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>Republicans</th>
          <td><%=@bill.votes.first.republican["yes"]%></td>
          <th>Republicans</th>
          <td><%=@bill.votes.first.republican["no"]%></td>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>Total</th>
          <td><%=@bill.votes.first.ayes%></td>
          <th>Total</th>
          <td><%=@bill.votes.first.nays%></td>
          <th>Both</th>
          <td><%=@bill.votes.first.abstains%></td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <h6 class="yes-votes">For</h6>
      <%@bill.votes.first.yes_votes.each do |vote_data|%>
        <div class="yes-vote border-bdark <%=vote_data["party"] == "D" ? "democrat" : "republican"%>">
          <p>Senator <%=vote_data["name"]%> (<%=vote_data["party"]%>), of <%=vote_data["state"]%></p>
        </div>
      <%end%>
    </div>
    <div class="col-sm-4">
      <h6 class="no-votes">Against</h6>
      <%@bill.votes.first.no_votes.each do |vote_data|%>
        <div class="no-vote border-bdark <%=vote_data["party"] == "D" ? "democrat" : "republican"%>">
          <p>Senator <%=vote_data["name"]%> (<%=vote_data["party"]%>), of <%=vote_data["state"]%></p>
        </div>
      <%end%>
    </div>
    <div class="col-sm-4">
      <h6 class="abstain-votes">Abstain</h6>
      <%@bill.votes.first.abstain_votes.each do |vote_data|%>
        <div class="abstain-vote border-bdark <%=vote_data["party"] == "D" ? "democrat" : "republican"%>">
          <p>Senator <%=vote_data["name"]%> (<%=vote_data["party"]%>), of <%=vote_data["state"]%></p>
        </div>
      <%end%>
    </div>
  </div>

<%else%>
  <h4>No Vote Data</h4>
<%end%>

<section class="posts">
  <%=yield%>
</section>
